airtest==1.1.1
allure-pytest==2.8.16
allure-python-commons==2.8.16
aniso8601==8.0.0
apipkg==1.5
appdirs==1.4.4
Appium-Python-Client==0.48
argcomplete==1.12.0
atomicwrites==1.3.0
attrs==19.3.0
black==19.10b0
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
colorama==0.4.1
comtypes==1.1.7
cycler==0.10.0
ddt==1.2.1
dukpy==0.2.2
et-xmlfile==1.0.1
execnet==1.7.1
facebook-wda==0.2.1
Flask==1.1.2
Flask-JWT-Extended==3.24.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
greenlet==0.4.16
httprunner==3.1.4
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
javascripthon==0.11
jdcal==1.4.1
jenkinsapi==0.3.11
Jinja2==2.10.3
jmespath==0.9.5
kiwisolver==1.2.0
loguru==0.4.1
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==7.2.0
mss==4.0.3
mysql==0.0.2
mysql-connector-python==8.0.21
mysqlclient==1.4.6
numpy==1.17.4
opencv-contrib-python==3.4.2.17
openpyxl==3.0.1
packaging==19.2
pandas==0.25.3
pathspec==0.8.0
pdfminer.six==20200104
pdfplumber==0.5.20
Pillow==7.1.2
pipx==0.15.4.0
pluggy==0.13.0
prettytable==0.7.2
protobuf==3.10.0
py==1.8.0
pycryptodome==3.9.7
pydantic==1.6.1
pyecharts==1.7.1
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.2.0
pyee==7.0.2
PyJWT==1.7.1
PyMySQL==0.10.1
pyparsing==2.4.2
pypiwin32==223
pyppeteer==0.2.2
pytest==5.4.3
pytest-assume==2.2.1
pytest-dependency==0.5.1
pytest-forked==1.2.0
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-ordering==0.6
pytest-rerunfailures==7.0
pytest-xdist==1.33.0
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinauto==0.6.3
PyYAML==5.1.2
pyzmq==19.0.1
regex==2020.7.14
requests==2.22.0
scipy==1.1.0
scoop==0.7.1.1
selenium==3.141.0
sentry-sdk==0.14.4
simplejson==3.17.0
six==1.12.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.19
toml==0.10.1
tqdm==4.46.1
typed-ast==1.4.1
unicodecsv==0.14.1
urllib3==1.25.9
userpath==1.4.1
Wand==0.6.1
wcwidth==0.1.7
websockets==8.1
Werkzeug==1.0.1
win32-setctime==1.0.2
xlrd==1.2.0
zipp==0.6.0
